<div class="article">
    <div class='main'>
        <h1 class="title"><%- page.title %></h1>
        <div class="stuff">
            <span><%- page.date.locale("zh-cn").format("MMMM DD, YYYY") %></span>
            <span>共 <%- symbolsCount(page.content) %> 字，大约需要 <%- symbolsTime(page.content, 4, 275, '分钟') %></span>
            <%- partial('_partial/post/tag', {post: page}) %>
        </div>
        <div class="content markdown">
            <%- page.content %>
        </div>
        <% if (theme.gitalk != undefined){ %>  <%- partial('gitalk', {post: page}) %>  <% } %>
    </div>
    <% if (theme.TOC == true){ %>
        <div class='side'>
            <%- toc(page.content, {list_number: true}) %>
        </div>
    <%}%>
</div>

