<% var first = page.posts.sort("date", "desc").eq(0); %>
<div id="screen">
    <div id="mark">
        <div class="layer" data-depth="0.4">
            <div id="cover" width="1920" height="1080">
                <% if(theme.welcome_video){ %>
                <video id="cover-video" autoplay loop muted poster="/img/welcome-cover.jpg" src="<%- theme.welcome_video%>" type="video/mp4" width="100%" height="100%"></video>
                <% } else { %>
                <%- image_tag(theme.welcome_cover || first.cover || "/img/welcome-cover.jpg", {id: "cover-img", crossorigin: "anonymous", width: "100%", height: "100%"}) %>
                <% } %>
            </div>
        </div>
    </div>
    <div id="vibrant">
        <svg viewBox="0 0 2880 1620" height="100%" preserveAspectRatio="xMaxYMax slice">
            <polygon opacity="0.7" points="2000,1620 0,1620 0,0 600,0 " />
        </svg>
        <div></div>
    </div>
    <div id="header">
        <div>
            <a class="image-logo" href="/"></a>
            <div class="icon-menu switchmenu"></div>
        </div>
    </div>
    <% if ( first ) { %>
    <div id="post0">
        <p><%- first.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h2 style="font-size:52px;color:#fff;"><%- config.title %></h2>
        <p style="font-size:20px;"><%- config.subtitle %></p>
    </div>
    <% } %>
</div>